In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('CarPrice_Assignment_1.csv')

In [3]:
cars.head() #returns the first 5 rows of our dataset

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
cars.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [5]:
print(cars['fueltype'].unique())
print(cars['drivewheel'].unique())
print(cars['enginelocation'].unique())
print(cars['fuelsystem'].unique())
print(cars['enginetype'].unique())

['gas' 'diesel']
['rwd' 'fwd' '4wd']
['front' 'rear']
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']

In [6]:
#Dropping the features which are not required
cars.drop(['car_ID'],axis=1,inplace=True)
cars.drop(['CarName'],axis=1,inplace=True)

In [7]:
cars.info() # tells about the total data entries our csv file contains

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   fueltype          205 non-null    object
 2   aspiration        205 non-null    object
 3   doornumber        205 non-null    object
 4   carbody           205 non-null    object
 5   drivewheel        205 non-null    object
 6   enginelocation    205 non-null    object
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         201 non-null    float64
 11  curbweight        205 non-null    int64
 12  enginetype        205 non-null    object
 13  cylindernumber    205 non-null    object
 14  enginesize        205 non-null    int64
 15  fuelsystem        205 non-null    object
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    int64
 20  peakrpm           205 non-null    int64
 21  citympg           205 non-null    int64
 22  highwaympg        205 non-null    int64
 23  price             205 non-null    float64
dtypes: float64(8), int64(7), object(9)
memory usage: 38.6+ KB

In [8]:
cars.describe()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,201.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.697015,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,1.245307,6.021776,12.337289,2.145204,2.435280,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

## Dummie Variable Trap

In [9]:
cars = pd.get_dummies(cars,drop_first=True)

In [10]:
cars.describe()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
count,205.000000,205.000000,205.000000,205.000000,201.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.697015,2555.565854,126.907317,3.329756,3.255415,10.142537,...,0.004878,0.004878,0.019512,0.321951,0.014634,0.097561,0.004878,0.458537,0.043902,0.004878
std,1.245307,6.021776,12.337289,2.145204,2.435280,520.680204,41.642693,0.270844,0.313597,3.972040,...,0.069843,0.069843,0.138655,0.468368,0.120377,0.297446,0.069843,0.499498,0.205380,0.069843
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   symboling              205 non-null    int64
 1   wheelbase              205 non-null    float64
 2   carlength              205 non-null    float64
 3   carwidth               205 non-null    float64
 4   carheight              201 non-null    float64
 5   curbweight             205 non-null    int64
 6   enginesize             205 non-null    int64
 7   boreratio              205 non-null    float64
 8   stroke                 205 non-null    float64
 9   compressionratio       205 non-null    float64
 10  horsepower             205 non-null    int64
 11  peakrpm                205 non-null    int64
 12  citympg                205 non-null    int64
 13  highwaympg             205 non-null    int64
 14  price                  205 non-null    float64
 15  fueltype_gas           205 non-null    uint8
 16  aspiration_turbo       205 non-null    uint8
 17  doornumber_two         205 non-null    uint8
 18  carbody_hardtop        205 non-null    uint8
 19  carbody_hatchback      205 non-null    uint8
 20  carbody_sedan          205 non-null    uint8
 21  carbody_wagon          205 non-null    uint8
 22  drivewheel_fwd         205 non-null    uint8
 23  drivewheel_rwd         205 non-null    uint8
 24  enginelocation_rear    205 non-null    uint8
 25  enginetype_dohcv       205 non-null    uint8
 26  enginetype_l           205 non-null    uint8
 27  enginetype_ohc         205 non-null    uint8
 28  enginetype_ohcf        205 non-null    uint8
 29  enginetype_ohcv        205 non-null    uint8
 30  enginetype_rotor       205 non-null    uint8
 31  cylindernumber_five    205 non-null    uint8
 32  cylindernumber_four    205 non-null    uint8
 33  cylindernumber_six     205 non-null    uint8
 34  cylindernumber_three   205 non-null    uint8
 35  cylindernumber_twelve  205 non-null    uint8
 36  cylindernumber_two     205 non-null    uint8
 37  fuelsystem_2bbl        205 non-null    uint8
 38  fuelsystem_4bbl        205 non-null    uint8
 39  fuelsystem_idi         205 non-null    uint8
 40  fuelsystem_mfi         205 non-null    uint8
 41  fuelsystem_mpfi        205 non-null    uint8
 42  fuelsystem_spdi        205 non-null    uint8
 43  fuelsystem_spfi        205 non-null    uint8
dtypes: float64(8), int64(7), uint8(29)
memory usage: 30.0 KB

In [ ]:
from matplotlib import pyplot as plt
cars.hist(figsize=(20,20))

array([[<AxesSubplot:title={'center':'symboling'}>,
        <AxesSubplot:title={'center':'wheelbase'}>,
        <AxesSubplot:title={'center':'carlength'}>,
        <AxesSubplot:title={'center':'carwidth'}>,
        <AxesSubplot:title={'center':'carheight'}>,
        <AxesSubplot:title={'center':'curbweight'}>,
        <AxesSubplot:title={'center':'enginesize'}>],
       [<AxesSubplot:title={'center':'boreratio'}>,
        <AxesSubplot:title={'center':'stroke'}>,
        <AxesSubplot:title={'center':'compressionratio'}>,
        <AxesSubplot:title={'center':'horsepower'}>,
        <AxesSubplot:title={'center':'peakrpm'}>,
        <AxesSubplot:title={'center':'citympg'}>,
        <AxesSubplot:title={'center':'highwaympg'}>],
       [<AxesSubplot:title={'center':'price'}>,
        <AxesSubplot:title={'center':'fueltype_gas'}>,
        <AxesSubplot:title={'center':'aspiration_turbo'}>,
        <AxesSubplot:title={'center':'doornumber_two'}>,
        <AxesSubplot:title={'center':'carbody_hardtop'}>,
        <AxesSubplot:title={'center':'carbody_hatchback'}>,
        <AxesSubplot:title={'center':'carbody_sedan'}>],
       [<AxesSubplot:title={'center':'carbody_wagon'}>,
        <AxesSubplot:title={'center':'drivewheel_fwd'}>,
        <AxesSubplot:title={'center':'drivewheel_rwd'}>,
        <AxesSubplot:title={'center':'enginelocation_rear'}>,
        <AxesSubplot:title={'center':'enginetype_dohcv'}>,
        <AxesSubplot:title={'center':'enginetype_l'}>,
        <AxesSubplot:title={'center':'enginetype_ohc'}>],
       [<AxesSubplot:title={'center':'enginetype_ohcf'}>,
        <AxesSubplot:title={'center':'enginetype_ohcv'}>,
        <AxesSubplot:title={'center':'enginetype_rotor'}>,
        <AxesSubplot:title={'center':'cylindernumber_five'}>,
        <AxesSubplot:title={'center':'cylindernumber_four'}>,
        <AxesSubplot:title={'center':'cylindernumber_six'}>,
        <AxesSubplot:title={'center':'cylindernumber_three'}>],
       [<AxesSubplot:title={'center':'cylindernumber_twelve'}>,
        <AxesSubplot:title={'center':'cylindernumber_two'}>,
        <AxesSubplot:title={'center':'fuelsystem_2bbl'}>,
        <AxesSubplot:title={'center':'fuelsystem_4bbl'}>,
        <AxesSubplot:title={'center':'fuelsystem_idi'}>,
        <AxesSubplot:title={'center':'fuelsystem_mfi'}>,
        <AxesSubplot:title={'center':'fuelsystem_mpfi'}>],
       [<AxesSubplot:title={'center':'fuelsystem_spdi'}>,
        <AxesSubplot:title={'center':'fuelsystem_spfi'}>, <AxesSubplot:>,
        <AxesSubplot:>, <AxesSubplot:>, <AxesSubplot:>, <AxesSubplot:>]],
      dtype=object)

## Coorelations

### It will tell us that whether when one event value is high/low then what will be its affect on other values

In [ ]:
coorelation = cars.corr() 
coorelation['price'].sort_values(ascending=True)

## Removing features having less coorelation with price

In [ ]:
cars.drop(['fueltype_gas'],axis=1,inplace=True)
cars.drop(['peakrpm'],axis=1,inplace=True)
cars.drop(['symboling'],axis=1,inplace=True)
cars.drop(['fuelsystem_spdi'],axis=1,inplace=True)
cars.drop(['cylindernumber_three'],axis=1,inplace=True)
cars.drop(['carbody_wagon'],axis=1,inplace=True)
cars.drop(['fuelsystem_spfi'],axis=1,inplace=True)
cars.drop(['fuelsystem_4bbl'],axis=1,inplace=True)
cars.drop(['enginetype_rotor'],axis=1,inplace=True)
cars.drop(['cylindernumber_two'],axis=1,inplace=True)
cars.drop(['fuelsystem_mfi'],axis=1,inplace=True)
cars.drop(['enginetype_ohcf'],axis=1,inplace=True)
cars.drop(['enginetype_l'],axis=1,inplace=True)
cars.drop(['compressionratio'],axis=1,inplace=True)
cars.drop(['stroke'],axis=1,inplace=True)
cars.drop(['fuelsystem_idi'],axis=1,inplace=True)
cars.drop(['carheight'],axis=1,inplace=True)
cars.drop(['carbody_sedan'],axis=1,inplace=True)
cars.drop(['enginetype_dohcv'],axis=1,inplace=True)
cars.drop(['aspiration_turbo'],axis=1,inplace=True)
cars.drop(['cylindernumber_twelve'],axis=1,inplace=True)
cars.drop(['doornumber_two'],axis=1,inplace=True)

coorelation = cars.corr() 
coorelation['price'].sort_values(ascending=True)

In [ ]:
cars.head()

In [ ]:
from pandas.plotting import scatter_matrix
attributes = ['price','highwaympg','enginesize']
scatter_matrix(cars[attributes],figsize=(12,8))

In [ ]:
import seaborn as sns
plt.figure(figsize=(30,25))
sns.heatmap(coorelation,annot=True,cmap="RdYlGn")

## Splitting Training and Testing Data

In [ ]:
import numpy as np

def split_train_test(data,test_ratio):
    np.random.seed(123) #Specifying because otherwise due to random numbers the model would also see the testing examples
    shuffled_Indices = np.random.permutation(len(data)) #Shuffles the dataframe indices
    test_Data_Size = int(test_ratio * len(data))
    test_Indices = shuffled_Indices[:test_Data_Size]
    train_Indices = shuffled_Indices[test_Data_Size:]
    
    return data.iloc[train_Indices] , data.iloc[test_Indices] #Returns the data at the given indices

In [ ]:
train_Data,test_Data = split_train_test(cars,0.2)

In [ ]:
#Inbuilt split function
# from sklearn.model_selection import train_test_split

# train_Data,test_Data = train_test_split(cars,test_size=0.2,random_state=123)

In [ ]:
print(len(train_Data),len(test_Data))

In [ ]:
print(cars['fuelsystem_2bbl'].value_counts(normalize=True)*100)
print(cars['cylindernumber_four'].value_counts(normalize=True)*100)
print(cars['drivewheel_rwd'].value_counts(normalize=True)*100)
print(cars['fuelsystem_mpfi'].value_counts(normalize=True)*100)

## Splitting Columns having bool Values Proportion of '0' and '1' biased

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

split_Data = StratifiedShuffleSplit(n_splits = 1,test_size = 0.2,random_state=123)

for train_Index,test_Index in split_Data.split(cars,cars['drivewheel_rwd'],cars['cylindernumber_four']):  #Using StratifiedShuffleSplit 'split' function
    stratified_Train_Set = cars.loc[train_Index] #Using 'loc' as train index is giving us the Indices of the data
    stratified_Test_Set = cars.loc[test_Index]

In [ ]:
print(stratified_Train_Set['cylindernumber_four'].value_counts())
print(stratified_Train_Set['drivewheel_rwd'].value_counts())

In [ ]:
print(stratified_Test_Set['cylindernumber_four'].value_counts())
print(stratified_Test_Set['drivewheel_rwd'].value_counts())

In [ ]:
124/40 , 35/6

In [ ]:
103/61 , 26/15

### ðŸ‘† Now we can see we almost have same amount of bool values in both Training and Testing Cases

In [ ]:
cars_Labels = stratified_Train_Set["price"].copy()
stratified_Train_Set.drop("price",axis=1,inplace=True)
cars = stratified_Train_Set.copy()

print(cars.info())

## Missing Attributes

In [ ]:
cars.isnull().sum() #Checks for null values

In [ ]:
#If there are missing attributes, then we have three options:
#   1. Get rid of the missing point
#   2. Get rid of the whole attribute
#   3. Set the value to 0, mean or median

In [ ]:
#Option 1
# cars.dropna(subset=['Column Name having missing points'])

In [ ]:
#Option 2
# cars.drop("Column Name having missing points",axis=1)

In [ ]:
#Option 3
# cars["Column Name having missing points"].fillna(0/mean/median)

In [ ]:
cars.describe() #before Imputing

### Suppose if the new data is given to us and it also contains missing values for this we have to save the mean/median

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy = "median") #if initally we are storing median in case of null values
imputer.fit(cars)

In [ ]:
imputer.statistics_ #Returns us median values for our columns

In [ ]:
X = imputer.transform(cars)  #Returns our Imputed Data in form of arrays

In [ ]:
cars_tr = pd.DataFrame(X , columns = cars.columns) #Creating Dataframe

In [ ]:
cars_tr.describe()

## Feature Scaling

There are two types of Features Scaling
1. Min-max Scaling (Normalization)
    (value-min)/(max-min)
    Sklearn has MinMaxScaler
2. Standardization
    (value-mean)/std
    Sklearn has StandardScaler

## Creating Pipelines

Pipelines are created so that later we can change our model and strategies

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

my_pipeline = Pipeline([
    ('imputer' , SimpleImputer(strategy = "median")),
    ('std_Scaler' , StandardScaler()),
    # more features can also be added in the pipeline
])

In [ ]:
cars_num_tr = my_pipeline.fit_transform(cars)  #Using our cars data because our pipeline contains imputer so don't need to add cars_tr data

type(cars_num_tr)

### The predictors in Scikit learn use numpy arrays rather then Pandas Dataframe

## Training our Model

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(cars_num_tr,cars_Labels)

In [ ]:
random_Data = cars.iloc[:5]
random_Labels = cars_Labels.iloc[:5]

In [ ]:
prepared_Data = my_pipeline.fit_transform(random_Data) #Sending random data to our model

In [ ]:
model.predict(prepared_Data) #Model predicting 'prices' for the given values

In [ ]:
print(random_Labels) #Actual Labels

## Evaluating our Model

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

train_Predictions = model.predict(cars_num_tr)

train_Mean_Squared_Error = mean_squared_error(cars_Labels,train_Predictions)
train_Root_Mean_Squared_Error = np.sqrt(train_Mean_Squared_Error)

In [ ]:
train_Root_Mean_Squared_Error

## Cross Validation Evaluation Technique

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model,cars_num_tr,cars_Labels,scoring="neg_mean_squared_error",cv= 10)
train_Root_Mean_Squared_Error_Scores = np.sqrt(-scores)

In [ ]:
train_Root_Mean_Squared_Error_Scores

In [ ]:
def print_Scores(scores):
    print("Scores is: ",scores)
    print("Mean is: ",scores.mean())
    print("Standard Deviation is: ",scores.std())

In [ ]:
print_Scores(train_Root_Mean_Squared_Error_Scores)

## Saving the Model

In [ ]:
from joblib import dump,load

dump(model,'Car_Price_Predictor_Model.joblib')

## Testing Data on our Model

In [ ]:
X_test = stratified_Test_Set.drop("price",axis=1)
Y_test = stratified_Test_Set["price"].copy()
X_test_prepared = my_pipeline.fit_transform(X_test)
test_Predictions = model.predict(X_test_prepared)
test_Mean_Squared_Error = mean_squared_error(Y_test,test_Predictions)
test_Root_Mean_Squared_Error = np.sqrt(test_Mean_Squared_Error)

In [ ]:
test_Root_Mean_Squared_Error

In [ ]:
print(test_Predictions,list(Y_test))
r2_score

In [ ]:
print("Training Set R2 Score: ", round(r2_score(cars_Labels,train_Predictions)*100,2))
print("Testing Set R2 Score: ", round(r2_score(Y_test,test_Predictions)*100,2))